@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.main {
  font-family: "Roboto Mono";
}

.main-header {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 25px;
}

.main-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 250px;
  margin-right: 250px;
}

.vr-logo {
  height: 100px;
  width: 100px;
}

.main-header-typed {
  margin-top: 25px;
  margin-left: 50px;
  font-size: 30pt;
}

.main-footer {
  position: fixed;
  margin-top: 25px;
  right: 25px;
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
